<div id="footer">
      <ul class="list-inline" id="social-links">
        <li>
          <a>
            <i class="fa fa-youtube" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a>
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
          <li>
            <a>
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </li>
        <li>
          <a>
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
      <p>This is a Airbnb Home challenge @ LeWagon</p>
